@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-04 16:17:22
 * @version $Id$
 */
#myMap{
	float: left;
	height: 700px;
	border: 2px solid #666666;
	border-radius: 5px;
}
#result{
	float: right;
	height: 700px;
	border: 2px solid #666666;
	border-radius: 5px;