@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-10 10:24:53
 * @version $Id$
 */
*{
	margin: 0px;
	padding:0px
}

#box1{
	position: absolute;
	padding: 10px;
	left: 0px;
	
	border: 1px solid;
}
#box1 box{
	margin: 10px;
    width: 100px;
	height: 100px;
	background-color: gray;
	float: left;
}
#box2{

	
	top: 300px;
	width: 600px;
	height: 240px;
	border: 1px solid;
}
