@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-05 13:58:42
 * @version $Id$
 */
.title{
    width: 1000px;
	height: 100px;
	margin-left: 50px;
	line-height: 100px;
	font-family: "微软雅黑";
	font-size: 48px;
	background-color: #bf3eff ; 
	text-align: center;
}
#t1{
	margin-left: 150px;
	width: 800px;
	height: 50px;
	line-height: 50px;
	font-family: "微软雅黑";
	font-size: 32px;
	}
#t1 td{
	width: 50%;
}


