/*-------------PART ONE-----------*/
.ui-box1{
	margin: 0px;
    width:600px;
	height: 300px;
	border:1px solid #2d2d2d;
	box-shadow: 0 0 10px #e6e6e6;
}
ul{
	margin-left: -20px;
	list-style:none;

}
li img{
	float:left;
	width:100px;
	height:100px;
	margin-left: 10px;
	margin-top: 10px;
	box-shadow: 0 0 8px #d59677;
	border:1px solid #c0c0c0;
}

/*点击放大的图片*/
.ui-box1-bigbox{
	position: absolute;
	z-index: 1;
	width:600px;
	height:300px;
}
.ui-box1-bigbox img{
	width:200px;
	height:200px;
	margin-top: 80px;
	margin-left: 200px;
	box-shadow: 0 0 8px red;
	border:1px solid #c0c0c0;
}
/*-------------PART TWO-----------*/
.ui-box2{
	position: relative;
	margin-top: 20px;
	margin-left: 100px;
    width: 300px;
    height: 220px;
}
.ui-box2-header{
	display: flex;
}
.ui-box2-header-button:first-child {
    border-left: 1px solid #3F3F3F;
}
.ui-box2-header-button{
    width: 60px;
    height: 20px;
    border-top: 1px solid #3F3F3F;
    border-bottom: 1px solid #3F3F3F;
    border-right: 1px solid #3F3F3F;
}
.ui-box2-content{
    position: absolute;
    left: 0;
    top: 21px;
    width: 300px;
    height: 200px;
    text-align: center;
    border: 1px solid #3F3F3F;
}
.ui-box2-content-text{
	display: none;
    line-height: 200px;
    color: #808080;
    font-size: 6em;
    font-family: "SimHei";
    font-weight: bold;
}
/*-------------PART Three-----------*/
.ui-box3{
	width:300px;
	height: auto;
	margin-top: -400px;
	margin-left: 700px;
    border: 1px solid black;
}
.ui-box3-message{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 300px;
	padding-top: 20px;
	height: auto;
	margin-bottom: 10px;
}
.ui-box3-message-item{
	display: flex;
    justify-content: flex-start;
    align-items: center;
	width: 280px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
}
.ui-box3-message-item-num{
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.ui-box3-message-item-content{
    width: 195px;
	height: 23px;
	border: 1px solid black;
}
.ui-box3-message-item-button{
	width: 60px;
	height: 25px;
	line-height: 25px;
	text-align: center; 
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.ui-box3-button-add{
	align-items: flex-end;
	width: 120px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 168px;
	line-height: 25px;
	background-color: #339966;
	text-align: center; 
	border: 1px solid black;
}