@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-13 15:17:33
 * @version $Id$
 */
.all{
	display: flex;
	width: 600px;
	height: 120px;
	margin: 0px;
	justify-content: center;
    align-items: center;
}
.box{
	margin-left: 20px;
    background-color: gray;
    width: 100px;
    height: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
}
.txt{
	margin-left: 20px;
	width: 120px;
	height: 20px;
	border: 1px solid black;
}