@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-08 21:37:13
 * @version $Id$
 */
body{
	background-color: #c1ffc1
}
span{
	width: 800px;
	height: 800px;
	margin-left: 100px;
	font-family: "微软雅黑";
	font-size: 48px;
	color: #bf3eff ; 
	text-align: center;
}